section{
    margin: 0;
    max-width: 100%;
    background-image:url('../../../../../../public/back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 3.2rem;
    max-width: 700px;
    margin:  0 auto;
}

button,button:focus{
    
    margin: auto auto 0.5em;
    color: #fff;
    font-weight: 300;
    font-size: 0.9rem;
    border: none;
}


.btn-explore{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.btn-explore i{
    font-size: 1.1rem;
    display: block;
    animation: bounce 1.5s infinite;
  }
  .btn-explore:hover{
    color: #fff;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
  }
@media screen and (max-width:500px) {
    h1{
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
    }

    section{
        height:     50vh;
    }
    
}