.footer{
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 0.5em;
    margin-bottom: auto;

}
.footer img{
    width: 90px;
}
.footer p{
    color: #FFF;
    font-weight: 300;
    font-size: 0.9rem;
}