.navbar{
    background-color: black !important;

}
img{
    width: 120px;
}

.btn-login{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 0.5em 2em;
    font-size: 1em;

}
.btn-login:hover{
    color: #fff;
    border: 2px solid #fff;

}

@media screen and (max-width:500px) {
    img{
        width: 90px;
    }

    .btn-login{
        font-size: 0.9rem;
        padding: 0.5em 1em;
    }
}