<nav class="navbar navbar-light bg-light d-flex flex-row align-items-center justify-content-between px-3">
    <a class="navbar-brand" href="#" routerLink="/"><img  src="logo.png" alt="logo of imperio company"/></a>

    
    <button *ngIf="!isAuthenticated" class="btn btn-login"routerLink="/login" >Login</button>
    <div >
      <button *ngIf="isAuthenticated" class="btn btn-logout mx-2" (click)="onLogout()" >Logout</button>
      <a *ngIf="isAuthenticated" class="btn btn-dashboard " href="/admin"  >Dashboard</a>

    </div>
   

  </nav>
