.container{
    background-color: black;
    background-image: url('../../../public/back_login.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 99vh;

}


.btn-custom {
  background-color: #FFF; /* Saddle Brown */
  border-color: #FFF;
  color: #000;
  padding: 0.7em;
  font-weight: 600;
}
.card {
    background-color: black;
  border: none;
}

.btn-custom:hover {
  background-color: #FFF;
  border-color:  #FFF;;
}

.forgot-password,
.sign-up {
  color:  #FFF;;
  text-decoration: none;
}

.forgot-password {
  text-align: end;
  font-weight: 300;
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #000;
}
form label{
    color: #FFF;
    font-size: 0.9rem;
}
input::placeholder {
  color: #000;
}

.sign-up {
  font-weight: 300;
  font-size: 0.9rem;
  margin: 0;
}
.link-signup {
  color: #fff;
  text-decoration: none;
}
.container {
  max-width: 100%;
  padding: 10% 0 0;
}
.container > div {
  padding: 0;
  max-width: 100%;
  gap: 4%;
}


@media screen and (max-width: 450px) {
  .row {
    margin: 0 !important;
  }

  .container{
    background:#000 ;
  }

  .container > div {
    justify-content: center !important;
  }
}
