
<div class="container">
    <div class="row justify-content-start">
     
      <div class="col-md-5">
        <div class="card mt-5">
          <div class="card-body">
            <div class="text-center mb-4">
              <img src="logo.png" alt="Logo" class="img-fluid" style="width: 200px;">
            </div>
            <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
              <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="username" id="email"
                  aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password"
                  placeholder="Password">
              </div>
              <button type="submit" class="btn btn-block btn-custom">Sign In</button>
              <div class="text-end mt-3">
                <a href="#" class="forgot-password">Forgot Password?</a>
              </div>
              
            </form>
          </div>
        </div>
      </div>

    
  
    </div>
  </div>