<div class="order">
    <div class="head d-flex flex-row align-items-center justify-content-between">
        <h2>Cars</h2>
        <div class="sub-head">
            <div class="create-btn">
                <a [routerLink]="['/admin/new-announce']">Create New Car</a>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Model</th>
                <th>IsAvailable</th>
                <th>Price Per Day</th>
              
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let car of cars; let i = index">
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td class="text-justify">{{ car.model }}</td>
                <td>{{ car.available }}</td>
                <td>{{ car.pricePerDay  }}</td>
              
                <td>
                    <ul class="btn-actions">
                        <li (click)="deleteCar(car.id || '')"><i class='bx bxs-trash'></i></li>
                        <li (click)="editCar(car.id || '' )"><i class='bx bxs-edit'></i></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="d-flex justify-content-center mt-4 pagination">
        <ul class="pagination">

            <li class="page-item" [class.disabled]="currentPage === 0">
                <a class="page-link" (click)="prevPage()">Previous</a>
            </li>
            <li *ngFor="let page of [].constructor(totalPages) ; let i = index" class="page-item"
                [class.active]="i === currentPage">
                <a class="page-link" (click)="goToPage(i)">{{ i }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === (totalPages-1)">
                <a class="page-link" (click)="nextPage()">Next</a>
            </li>
           
        </ul>
    </div>
</div>