.container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}


.wrapper-results{
   justify-content: space-between;
   padding: 2em 0;
   /* margin: auto; */
   max-width: 95%;
   gap: 2%;



}

h2{
    color: #000;
    font-size: 1.4rem;
    margin-top: 2em;
    max-width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.6rem;
    
}
h2 span{
    font-weight: 300;
    font-size: 1rem;
}
.wrapper-results >*{
    margin-bottom: 1em;
   
}

.default{
  margin: auto;
}





  .btn-primary {
    background-color: #000;
    border: none;
    padding: 0.5em 1em ;
    min-width: 200px
   
  }
  
  .btn-primary:hover {
    background-color: #000;
  }
  

  ul.pagination{
   margin-bottom: 2em;
    background-color: transparent;
    border: none;
    --bs-pagination-color:#000;
    --bs-pagination-active-bg:#000;
    --bs-pagination-active-border-color:#000;
  }

  @media screen and (max-width:450px) {
    
    .wrapper-results{
        max-width: 100%;
    }


    .wrapper-results >*{
        flex: 1;
        min-width:140px;
        gap:0.5em;
    }
  }
