


<div *ngIf="car; else defaultCard"  class="card">

    <img  [src]="'data:image/webp;base64,' + car.picture" loading="lazy"/>
    <div class="general-info">
        <h3>{{car.brand}}<span> {{car.model}}</span></h3>
        <p><span class="fw-bold">{{car.pricePerDay}}$</span>/day <span class="text-danger">{{car.available ? '': 'not available'}}</span></p>
        <button class="btn btn-rent" [disabled]="!car.available">Rent Now</button>

    </div>
</div>



<ng-template #defaultCard>
    <div class="card">
        <img src="default_car.png" loading="lazy"/>
        <div class="general-info">
            <h3>Unknown Brand <span>Model</span></h3>
            <p><span class="fw-bold">N/A</span>/day <span class="text-danger">Not Available</span></p>
            <button class="btn btn-rent" disabled>Rent Now</button>
        </div>
    </div>
</ng-template>